In [1]:
from maleo.wizard import Wizard
import pandas as pd

In [2]:
a = '   halooooo    guysss    apa   kabar    kaliann ? +62 361 222777'
b = 'gw kangen, deh u u u sama anda semua! 08134455555' 
c = 'testing 1 + 2 lima enam 1 2 3 + - * #ggwp #gw'
d = 'tunggu TUNGGU gwww yaaa u U g G a b Q wkwk'
e = 'Rp 20.000  aja rstezz16@gmail.com adalah email kantor gw #coba2'
text_with_emojis = "I love ‚öΩ very much üòÅ."
text_with_a_number = '2833047 people live in this area. It is not a good area.'
text_with_two_numbers = '2833047 and 1111 people live in this area.'
text_with_punctuations = "This sentence doesn't seem to too many commas, periods or semi-colons (;)."
text_with_a_date = "Todays date is 04/28/2020 for format mm/dd/yyyy, not 28/04/2020."
text_with_dates = "Todays date is 28/04/2020 and tomorrow's date is 29/04/2020."
text_with_duplicates = 'Everyone here is so hardworking. Hardworking people. I think hardworking people are a good trait in our company.'

In [3]:
data = [a, b, c, d, e, text_with_emojis, text_with_a_number, text_with_two_numbers, 
        text_with_punctuations, text_with_a_date, text_with_dates, text_with_duplicates]
df = pd.DataFrame(data, columns=['text'])

In [4]:
wiz = Wizard()

In [5]:
df_scan = wiz.scan_text(df, 'text')
df_scan

,text,chars_count,words_count,emojis_count,numbers_count,punctuations_count,dates_count
0,halooooo guysss apa kabar kalian...,64,5,0,3,2,0
1,"gw kangen, deh u u u sama anda semua! 08134455555",49,9,0,1,2,0
2,testing 1 + 2 lima enam 1 2 3 + - * #ggwp #gw,45,5,0,5,6,0
3,tunggu TUNGGU gwww yaaa u U g G a b Q wkwk,42,12,0,0,0,0
4,Rp 20.000 aja rstezz16@gmail.com adalah email...,63,8,0,4,4,0
5,I love ‚öΩ very much üòÅ.,21,4,2,0,1,0
6,2833047 people live in this area. It is not a ...,56,11,0,1,2,0
7,2833047 and 1111 people live in this area.,42,6,0,2,1,0
8,"This sentence doesn't seem to too many commas,...",74,13,0,0,7,0
9,Todays date is 04/28/2020 for format mm/dd/yyy...,64,9,0,6,8,1
10,Todays date is 28/04/2020 and tomorrow's date ...,60,8,0,6,6,2
11,Everyone here is so hardworking. Hardworking p...,112,18,0,0,3,0

In [7]:
wiz.encode_text(df.text)

0        halooooo    guysss    apa   kabar    kalian...
1     gw kangen, deh u u u sama anda semua! 08134455555
2         testing 1 + 2 lima enam 1 2 3 + - * #ggwp #gw
3            tunggu TUNGGU gwww yaaa u U g G a b Q wkwk
4     Rp 20.000  aja <EMAIL> adalah email kantor gw ...
5                                 I love ‚öΩ very much üòÅ.
6     2833047 people live in this area. It is not a ...
7            2833047 and 1111 people live in this area.
8     This sentence doesn't seem to too many commas,...
9     Todays date is 04/28/2020 for format mm/dd/yyy...
10    Todays date is <DATE> and tomorrow's date is <...
11    Everyone here is so hardworking. Hardworking p...
Name: text, dtype: object

In [8]:
wiz.clean_text(res)

0                                  guys kabar 62 361 27
1                                  gw kangen deh 081345
2                        testing 1 2 enam 1 2 3 ggwp gw
3                             tunggu TUNGGU gw U G wkwk
4             Rp 20 0 aja <EMAIL> email kantor gw coba2
5                                      I love very much
6     283047 people live in this area It is not god ...
7                 283047 and 1 people live in this area
8     This sentence doesn sem to to many comas perio...
9       Todays date is 04 28 2020 for format not <DATE>
10     Todays date is <DATE> and tomorow date is <DATE>
11    Everyone here is so hardworking Hardworking pe...
dtype: object

In [9]:
wiz.preprocessing(res)

0     halooooo    guysss    apa   kabar    kalian ? ...
1     gue kangen, deh lu lu lu sama kamu semua! 0813...
2        testing 1 + 2 lima enam 1 2 3 + - * #ggwp #gue
3     tunggu TUNGGU gwww ya lu lu enggak enggak a b ...
4     Rp 20.000  saja <EMAIL> adalah email kantor gu...
5                           anda cinta ‚öΩ sangat much üòÅ.
6     2833047 orang langsung ini ini area. itu is no...
7         2833047 dan 1111 orang langsung ini ini area.
8     ini sentence doesn't seem tapi too many commas...
9     Todays date is 04/28/2020 untuk format mm/dd/y...
10    Todays date is <DATE> dan tomorrow'sih date is...
11    Everyone disini is sok hardworking. Hardworkin...
Name: text, dtype: object

In [10]:
wiz.price_parser(res)

,Text,Price
0,Rp 20.000 aja <EMAIL> adalah email kantor gw ...,"Price(amount=Decimal('20000'), currency='Rp')"

In [11]:
wiz.hashtag_parser(res)

                                                Text     Hashtag
0      testing 1 + 2 lima enam 1 2 3 + - * #ggwp #gw  [ggwp, gw]
1  Rp 20.000  aja <EMAIL> adalah email kantor gw ...     [coba2]