In [1]:
from maleo.wizard import Wizard
import pandas as pd

In [2]:
a = '   halooooo    guysss    apa   kabar    kaliann ? +62 361 222777'
b = 'gw kangen, deh u u u sama anda semua! 08134455555' 
c = 'testing 1 + 2 lima enam 1 2 3 + - * #ggwp #gw'
d = 'tunggu TUNGGU gwww yaaa u U g G a b Q wkwk'
e = 'Rp 20.000  aja rstezz16@gmail.com adalah email kantor gw #coba2'
text_with_emojis = "I love ‚öΩ very much üòÅ."
text_with_a_number = '2833047 people live in this area. It is not a good area.'
text_with_two_numbers = '2833047 and 1111 people live in this area.'
text_with_punctuations = "This sentence doesn't seem to too many commas, periods or semi-colons (;)."
text_with_a_date = "Todays date is 04/28/2020 for format mm/dd/yyyy, not 28/04/2020."
text_with_dates = "Todays date is 28/04/2020 and tomorrow's date is 29/04/2020."
text_with_duplicates = 'Everyone here is so hardworking. Hardworking people. I think hardworking people are a good trait in our company.'

In [3]:
data = [a, b, c, d, e, text_with_emojis, text_with_a_number, text_with_two_numbers, 
        text_with_punctuations, text_with_a_date, text_with_dates, text_with_duplicates]
df = pd.DataFrame(data, columns=['text'])

In [4]:
wiz = Wizard()

In [5]:
df_scan = wiz.scan_text(df, 'text')
df_scan.head(2)

params: {}

,text,characters_count,spaces_count,words_count,duplicates_count,chars_excl_spaces_count,emoji_count,whole_numbers_count,alpha_numeric_count,non_alpha_numeric_count,punctuations_count,dates_count
0,halooooo guysss apa kabar kalian...,64,22,5,0,42,0,3,40,24,2,0
1,"gw kangen, deh u u u sama anda semua! 08134455555",49,9,9,1,40,0,1,38,11,2,0

In [6]:
res = wiz.encode_text(df.text)

In [ ]:
wiz.clean_text(res)

In [ ]:
wiz.preprocessing(res)

In [7]:
wiz.price_parser(res)

,Text,Price
0,Rp 20.000 aja <EMAIL> adalah email kantor gw ...,"Price(amount=Decimal('20000'), currency='Rp')"

In [8]:
wiz.hashtag_parser(res)

                                                Text     Hashtag
0      testing 1 + 2 lima enam 1 2 3 + - * #ggwp #gw  [gw, ggwp]
1  Rp 20.000  aja <EMAIL> adalah email kantor gw ...     [coba2]