In [1]:
from maleo.cleansing import Wizard
import pandas as pd

In [2]:
a = '   halooooo    guysss    apa   kabar    kaliann ?'
b = 'gw kangen, deh u u u sama anda semua!'
c = 'testing 1 + 2 lima enam 1 2 3 + - *'
d = 'tunggu TUNGGU gwww yaaa u U g G a b Q wkwk'
e = 'rstezz16@gmail.com adalah email kantor gw'

In [3]:
text_with_emojis = "I love ‚öΩ very much üòÅ."
text_with_a_number = '2833047 people live in this area. It is not a good area.'
text_with_two_numbers = '2833047 and 1111 people live in this area.'
text_with_punctuations = "This sentence doesn't seem to too many commas, periods or semi-colons (;)."
text_with_a_date = "Todays date is 04/28/2020 for format mm/dd/yyyy, not 28/04/2020."
text_with_dates = "Todays date is 28/04/2020 and tomorrow's date is 29/04/2020."
text_with_duplicates = 'Everyone here is so hardworking. Hardworking people. I think hardworking people are a good trait in our company.'

In [4]:
data = [a, b, c, d, e, text_with_emojis, text_with_a_number, text_with_two_numbers, 
        text_with_punctuations, text_with_a_date, text_with_dates, text_with_duplicates]
df = pd.DataFrame(data, columns=['text'])

In [5]:
wiz = Wizard()

In [6]:
res = wiz.profiling(df, 'text')
res.sample(3)

params: {}

,text,characters_count,spaces_count,words_count,duplicates_count,chars_excl_spaces_count,emoji_count,whole_numbers_count,alpha_numeric_count,non_alpha_numeric_count,punctuations_count,dates_count
9,Todays date is 04/28/2020 for format mm/dd/yyy...,64,8,9,0,56,0,6,48,16,8,1
1,"gw kangen, deh u u u sama anda semua!",37,8,9,1,29,0,0,27,10,2,0
10,Todays date is 28/04/2020 and tomorrow's date ...,60,8,8,2,52,0,6,46,14,6,2

In [7]:
res.describe()

,characters_count,spaces_count,words_count,duplicates_count,chars_excl_spaces_count,emoji_count,whole_numbers_count,alpha_numeric_count,non_alpha_numeric_count,punctuations_count,dates_count
count,12.00000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000,12.000000
mean,52.75000,10.000000,8.666667,1.166667,42.750000,0.166667,1.750000,39.500000,13.250000,3.083333,0.250000
std,23.56085,4.431294,4.313474,1.337116,21.439662,0.577350,2.454125,20.509421,4.750598,2.609714,0.621582
min,21.00000,4.000000,3.000000,0.000000,16.000000,0.000000,0.000000,13.000000,6.000000,0.000000,0.000000
25%,40.00000,7.750000,5.750000,0.000000,29.750000,0.000000,0.000000,28.500000,9.500000,1.000000,0.000000
50%,45.50000,9.500000,8.500000,0.500000,36.000000,0.000000,0.500000,34.500000,13.500000,2.000000,0.000000
75%,61.00000,11.000000,11.250000,2.250000,53.000000,0.000000,2.750000,46.500000,16.500000,4.500000,0.000000
max,112.00000,19.000000,18.000000,3.000000,95.000000,2.000000,6.000000,92.000000,20.000000,8.000000,2.000000

In [8]:
wiz.apply(df.text)

0                                            guys kabar
1                                         gw kangen deh
2                                testing 1 2 enam 1 2 3
3                             tunggu TUNGGU gw U G wkwk
4                               <EMAIL> email kantor gw
5                                      I love very much
6     283047 people live in this area It is not god ...
7                 283047 and 1 people live in this area
8     This sentence doesn sem to to many comas perio...
9       Todays date is 04 28 2020 for format not <DATE>
10     Todays date is <DATE> and tomorow date is <DATE>
11    Everyone here is so hardworking Hardworking pe...
dtype: object